<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Product Details</title>
</head>

<body>
    <div class="container">
        <h1 class="my-3">Product Details</h1>


        <dl class="row">
            <dt class="col-sm-3">Product Name</dt>
            <dd class="col-sm-9">
                <%= singleProduct.name %>
            </dd>

            <dt class="col-sm-3">Price</dt>
            <dd class="col-sm-9">
                <%= singleProduct.price %>
            </dd>

            <dt class="col-sm-3">Category</dt>
            <dd class="col-sm-9">
                <%= singleProduct.category %>
            </dd>
        </dl>


        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button class="btn btn-primary" onclick="location.href='edit.html'">編集</button>
            <button class="btn btn-secondary" onclick="location.href='/products'">戻る</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>